<form class="card bg-primary text-light mx-auto p-3 mt-3">
  <div class="card-body">
    <h3 class="text-center">Get Started</h3>
    <hr />
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <label for="nameInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Name">
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="lastnameInput" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastnameInput" placeholder="Last name">
      </div>
    </div>
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" class="form-control" id="usernameInput" placeholder="Username">
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Email">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
    </div>
    <div class="mb-3">
      <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm Password">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="mt-2 btn btn-secondary">Sign Up</button>
    </div>
    <p class="mt-2 text-center">Already have an account? <a (click)="changeToLogin()" style="cursor: pointer; font-weight: bold;">Login</a></p>
  </div>
</form>


