<main class="row p-3" style="background-image: url('./assets/Home.png'); height: 120vh; background-size: cover; background-position: center; ">
  <section class="text-light mt-3">
    <h2 class="text-center">Welcome to Book Reservation Web</h2>
    <p class="lead text-center">Find the books you love and reserve them online.</p>
    <div *ngIf="!registerActive; else elseBlock" >
      <app-login class="d-flex" (cancelLogin)="registerToggle($event)"></app-login>
    </div>
    <ng-template #elseBlock>
      <app-register (cancelRegister)="registerToggle($event)" class="d-flex"></app-register>
    </ng-template>
  </section>
</main>
