<article (click)="navigateToBookDetails()" class="card book-card text-white m-3 bg-success">
  <div class="card-img-wrapper position-relative">
    <img src="{{book?.imageUrl || './assets/bookCover.jpg'}}" class="card-img-top card-img-book" alt="Book image" />
    <span class="badge bg-warning position-absolute top-0 start-0 m-2">
      {{book?.category?.name}}
    </span>
    <div class="card-body text-center">
      <h4 class="capitalize">{{book?.title}}</h4>
      <hr />
      <dl class="row">
        <dt class="col-sm-4">Author</dt>
        <dd class="col-sm-8 capitalize">{{book?.author}}</dd>
      </dl>
    </div>
  </div>
</article>
