<section class="container bg-primary p-3 rounded">
  <form class="text-center">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="titleInput"><i class="fa fa-search"></i></span>
      <input type="text"
             name="title"
             class="form-control"
             [(ngModel)]="booksParams.title"
             (ngModelChange)="onTitleChange($event)"
             placeholder="Search for a book"
             aria-label="Title"
             aria-describedby="titleInput">
    </div>
  </form>
  <hr />
  <span class="text-white"> {{pagination?.totalItems || 0}} results found</span>
  <div class="d-flex flex-row flex-wrap justify-content-center mt-3 px-5">

    <app-books-card *ngFor="let book of books" [book]="book"></app-books-card>
  </div>

  <div class="mt-5 d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.pageSize"
                [maxSize]="25"
                [(ngModel)]="pagination.pageNumber"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
  </div>
</section>
