<div class="container bg-secondary p-1 mt-3 rounded">
  <div class="text-center mt-3">
    <h2 class="text-white"> Total Books Found: {{pagination?.totalItems}}</h2>
  </div>
  <hr />
  <div class="d-flex flex-wrap justify-content-center mt-3 px-5">
    <app-books-card *ngFor="let book of books" [book]="book"></app-books-card>
  </div>

  <div class="mt-5 d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.pageSize"
                [maxSize]="25"
                [(ngModel)]="pagination.pageNumber"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
  </div>
</div>


