<form [formGroup]="loginForm" (ngSubmit)="login()" class="card bg-primary text-light mx-auto p-3 mt-3">
  <div class="card-body">
    <h3 class="text-center">Login to your account</h3>
    <hr />
    <div class="mb-3">
      <app-input-text [formControl]="$any(loginForm.controls['username'])" [type]="'text'" [label]="'Username'"></app-input-text>
    </div>
    <div class="mb-3">
      <app-input-text [formControl]="$any(loginForm.controls['password'])" [type]="'password'" [label]="'Password'"></app-input-text>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="mt-2 btn btn-secondary">Login</button>
    </div>
    <p class="mt-2 text-center">Dont have an account? <a (click)="changeToRegister()" style="cursor: pointer; font-weight: bold;">Register</a></p>
  </div>
</form>
