<nav class="navbar navbar-expand-lg bg-primary px-3" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-book-bookmark"></i> Book Reservation Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto" *ngIf="authService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservations">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li *appRoleRequired="['Admin']" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin Options
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-white">Manage Books</a></li>
            <li><a class="dropdown-item text-white">Manage Reservations</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="dropdown text-white" *ngIf="authService.currentUser$ | async">
      <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-2x fa-user-circle-o"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end mt-1">
        <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
