<nav class="navbar navbar-dark bg-primary px-3">
  <div class="container-fluid d-flex align-items-center">
    <button class="navbar-toggler me-2" *ngIf="authService.currentUser$ | async" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/books" class="navbar-brand"><i class="fa fa-lg fa-handshake-o" aria-hidden="true"></i> Book Reservation Web</a>
    <div class="dropdown text-white ms-3" *ngIf="authService.currentUser$ | async">
      <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-2x fa-user-circle-o"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end mt-1">
        <li><a class="dropdown-item" (click)="navigateToReservations()"><i class="fa fa-address-book fa-lg" aria-hidden="true"></i> My Reservations</a></li>
        <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Logout</a></li>
      </ul>
    </div>
    <div class="offcanvas offcanvas-start text-bg-dark bg-primary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mb-3">
            <a class="nav-link" routerLink="/books">
              <i class="fa fa-book fa-lg" aria-hidden="true"></i>
              <span class="ms-2"> Books</span>
            </a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link" href="/reservations">
              <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
              <span class="ms-2"> Reservations</span>
            </a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link" href="#">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
              <span class="ms-2"> About</span>
            </a>
          </li>
          <li *appRoleRequired="['Admin']" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
              <span class="ms-2"> Admin Options</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/admin/books">
                  <i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
                  <span class="ms-2">Manage Books</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item">
                  <i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
                  <span class="ms-2">Manage Reservations</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>


